/** --------------- ELEMENT VARIABLES -------------------**/


// ------------- COLOURS ------------- //
$primary-color: #ffffff;
$secondary-color: #000000;
$teritary-color: 5px solid #41913C;

// ------------- FONTS & SIZES ------------- //
$base-font-family: "Open Sans", sans-serif;
$title-font-family: "Akshar", sans-serif;
$title-font-weight: bold;
$base-font-weight: 400;

// ------------- BORDER RADIUS ------------- //
$base-border-radius: 8px;

// ------------- HOVER TRANSITION ------------- //
$hover-transition: all 0.3s ease;

// ------------- DISPLAY ------------- //
$base-display: flex;
$base-min-width: 100vw;
$base-min-height: 100vh;

// ------------- PADDING ------------- //
$base-padding: 20px;
$button-padding: 10px;