// primary colour - white
// secondary colour - black
// tertiary colour - green
// fourth colour - charcoal (maybe)

// card border radius + modal border radius + filter border radius
$border-radius: 8px;


// body text font size
// subtitle font size


$title-font: "Akshar", sans-serif;
$title-font-weight: bold;
$body-font: "Open Sans", sans-serif;
$body-font-weight: 200;