/** -------------- STYLING OF THE ELEMENTS/ MODULES --------------- **/

// NAV BAR
#navbar {
    .logo {
        background-image: url(/images/TNZ_logo.png);
        background-size: cover;
        width: 200px;
        height: 60px;
    }

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.6em;
            font-family: "Akshar", sans-serif;
            font-weight: bold;
        }

        input {
            padding: 10px;
            border-radius: 8px; 
            border: none;
        }

        #searchBtn {
            font-size: 1.3em;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}

// MAP
#map {
    width: 300px;
    height: 200px;
    border: 2px solid #41913C;
    border-radius: 8px;
}

// MODAL
.modal-content {
    background-color: white;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    margin: 15% auto;
    border: 1px solid #888;
    width: 60%;
    height: 90%;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    position: fixed;
    left: 20%;
    bottom: -30%;

    .modal-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        /* Swiper CSS inside modal */
        .swiper {
            max-width: 100%;
        }

        /* styling of the dots as a whole */
        .swiper-pagination {
            width: 100px;
            position: absolute;
            left: 43%;
            background-color: #101110;
            padding: 7px;
            border-radius: 60px;
        }

        /* size of the dots */
        .swiper-pagination-bullet {
            background-color: white;
            min-width: 16px;
            min-height: 16px;
        }

        /* active bullet styling */
        .swiper-pagination-bullet-active {
            background-color: #41913C;
            /* color for active bullet */
        }

        .swiper-wrapper {
            width: 100%;
            max-height: 100%;

            .swiper-slide {
                max-width: 100%;
                max-height: 100%;

                img {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    min-width: 100%;
                    max-height: 200px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }


        /* Product info CSS inside modal */
        .modal-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 10px;

            h2 {
                font-family: "Akshar", sans-serif;
                font-size: 2em;
            }

            .left-side {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3 {
                    font-family: "Akshar", sans-serif;
                    font-size: 1.3em;
                }

                h4 {
                    font-family: "Akshar", sans-serif;
                    font-size: 1.2em;
                }

                .meal-selection {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                .checkboxes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                }

                #noteMessage {
                    font-size: 13px;
                }
            }

            .right-side {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;

                h3 {
                    font-family: "Akshar", sans-serif;
                    font-size: 2em;
                    color: #41913C;
                }

                button {
                    border: 2px solid #41913C;
                    border-radius: 8px;
                    background-color: #41913C;
                    color: white;
                    padding: 10px;
                    font-size: 1.5em;
                    font-family: "Akshar", sans-serif;
                    font-weight: bolder;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            }

            .other-details {
                display: flex;

                button:hover {
                    color: #eeba2b;
                    transition: all 0.3s ease;
                }
            }
        }

    }


}

// MODAL CLOSE BUTTON
span {
    height: 20px;
}

// MODAL CLOSE BUTTON
.close {
    position: fixed;
    left: 76%;
    height: 20px;
    padding: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 1000;
}

// ACCOMMODATION CARDS
.accommodation-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 400px;
    background-color: white;
    border-radius: 8px;

    .accommodation-image {
        width: 100%;
        height: 45%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        cursor: pointer;
    }

    .accommodation-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3,
        h4 {
            font-family: "Akshar", sans-serif;
        }

        p {
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            margin: 5px 0px;
        }

        .min-max-details {

            p {
                font-size: 14px;
            }

            display: flex;
            align-items: center;
            gap: 10px;
        }

        .other-details {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                color: #41913C;
                font-size: 1.2em;
                font-weight: bolder;
            }

            #read-more {
                font-family: "Akshar", sans-serif;
                font-weight: 600;
                font-size: 1em;
                padding: 7px;
                color: white;
                background-color: #41913C;
                border: 2px solid #41913C;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }

}

// FORM VALIDATION
#error-message {
    color: red;
    display: none;
    font-family: "Akshar", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}

// filtering form container
.filter-container {
    font-family: "Akshar", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    height: 50%;
    padding: 20px;
    border-radius: 8px;

    label {
        margin-top: 2px;
    }

    .minmaxprice {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 10px;

        button {
            font-family: "Akshar", sans-serif;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            padding: 7px;
            background-color: #41913C;
            border-radius: 8px;
            border: 2px solid #41913C;
            cursor: pointer;
        }
    }

    .filter {
        display: flex;
        flex-direction: column;

        select,
        input {
            width: 150px;
            margin: 5px 0px;
            padding: 7px;
            border-radius: 8px;
            border: 2px solid rgb(66, 9, 66);
        }
    }

    #findBtn {
        font-family: "Akshar", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 20px;
        padding: 7px;
        background-color: #41913C;
        border-radius: 8px;
        border: 2px solid #41913C;
        width: 100%;
    }

}

// personal details form
#personal-details {
    width: 500px;
    height: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 8px;
   
    label {
        margin: 5px 0px;
        font-family: "Akshar", sans-serif;
        font-weight: bold;
    }

    input {
        font-family: "Open Sans", sans-serif;
        padding: 6px;
        border-radius: 4px;
        margin-bottom: 5px;
    }

    button {
        margin-top: 6px;
        border: 2px solid #41913C;
        background-color: #41913C;
        color: white;
        padding: 10px;
        font-weight: bold;
        font-size: 1.2em;
        border-radius: 8px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    button:hover {
        background-color: white;
        color: #41913C;
        border: 2px solid #41913C;
        transition: all 0.3s ease;
    }

    #validate-message {
        margin-top: 10px;
        color: red;
        font-size: 14px;
        font-weight: bold;
        font-family: "Akshar", sans-serif;
    }
}

// booking details for overview
.booking-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;

    h2 {
        font-family: "Akshar", sans-serif;
        font-size: 1.7em;
    }

    .personal-details-content {
         
        h2, h3, h4 {
            font-family: "Akshar", sans-serif;
        }

        h3 {
            font-size: 1.4em;
        }

        span {
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
        }
    }

    button {
        width: 100%;
        background-color: #41913C;
        border: 2px solid #41913C;
        color: white;
        font-family: "Akshar", sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: 8px;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    button:hover {
        background-color: white;
        color: #41913C;
        transition: all 0.3s ease;
    }
}

// confirmation of booking modal
.confirmation-modal-message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    font-family: "Akshar", sans-serif;
    font-size: 1.5em;

    .the-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        i {
            font-size: 7em;
            color: #41913C;
        }
        
    }
}


// organise this after finished
.accommodation-receipt {
    width: 400px;
    border-radius: 8px;
    background-color: white;

    #title {
        padding-left: 10px;
        font-size: 1.7em;
        margin-bottom: 3px;
    }

    h2, h3, h4 {
        font-family: "Akshar", sans-serif;
    }


    img {
        width: 100%;
        height: 40%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: fill;
        object-position: center;
    }

    .receipt-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px 10px;

        h2 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        
        .prices-numbers {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
        }

        #total {
            color: #41913C;
        }

        
    }
}