// nav bar
#navbar {
    padding: 15px 25px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.029);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    // border: 1px solid rgba(255, 255, 255, 0.27);
    z-index: 100;
    position: fixed;
    top: 0;

    .logo {
        background-image: url(/images/TNZ_logo.png);
        background-size: cover;
        width: 200px;
        height: 60px;
    }

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.6em;
            font-family: "Akshar", sans-serif;
            font-weight: bold;
        }

        // hover will be in state.scss

        input {
            padding: 10px;
            border-radius: 8px; // this will have the variable + mixin/include  in it
            border: none;
        }

        #searchBtn {
            font-size: 1.3em;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        // hover in state.scss

    }
}


#map {
    width: 300px;
    height: 200px;
    border: 2px solid #41913C;
    border-radius: 8px;
}

// modal
.modal-content {
    background-color: white;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    margin: 15% auto;
    border: 1px solid #888;
    width: 60%;
    height: 90%;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    position: fixed;
    left: 20%;
    bottom: -30%;

    .modal-body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        /* Swiper CSS inside modal */
        .swiper {
            max-width: 100%;
        }

        /* styling of the dots as a whole */
        .swiper-pagination {
            width: 100px;
            position: absolute;
            left: 43%;
            background-color: #101110;
            padding: 7px;
            border-radius: 60px;
        }

        /* size of the dots */
        .swiper-pagination-bullet {
            background-color: white;
            min-width: 16px;
            min-height: 16px;
        }

        /* active bullet styling */
        .swiper-pagination-bullet-active {
            background-color: #41913C;
            /* color for active bullet */
        }

        .swiper-wrapper {
            width: 100%;
            max-height: 100%;

            .swiper-slide {
                max-width: 100%;
                max-height: 100%;

                img {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    min-width: 100%;
                    max-height: 200px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }


        /* Product info CSS inside modal */
        .modal-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 10px;

            h2 {
                font-family: "Akshar", sans-serif;
                font-size: 2em;
            }

            .left-side {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3 {
                    font-family: "Akshar", sans-serif;
                    font-size: 1.3em;
                }

                h4 {
                    font-family: "Akshar", sans-serif;
                    font-size: 1.2em;
                }

                .meal-selection {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }

                .checkboxes {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                }

                #noteMessage {
                    font-size: 13px;
                }
            }

            .right-side {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;

                h3 {
                    font-family: "Akshar", sans-serif;
                    font-size: 2em;
                    color: #41913C;
                }

                button {
                    border: 2px solid #41913C;
                    border-radius: 8px;
                    background-color: #41913C;
                    color: white;
                    padding: 10px;
                    font-size: 1.5em;
                    font-family: "Akshar", sans-serif;
                    font-weight: bolder;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            }

            .other-details {
                display: flex;

                button:hover {
                    color: #eeba2b;
                    transition: all 0.3s ease;
                }
            }
        }

    }


}

span {
    height: 20px;
}

/* Close Button for Modal */
.close {
    position: fixed;
    left: 76%;
    height: 20px;
    padding: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 1000;
}

// card layouts


// payment stuff- nhot gonna do organise this stuff later on


// modals



// filtering form container
.filter-container {
    font-family: "Akshar", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    height: 50%;
    padding: 20px;
    border-radius: 8px;

    label {
        margin-top: 2px;
    }

    .minmaxguests {
        display: flex;

        label {
            margin-right: 30px;
        }

        select {
            max-width: 50px;
        }
    }

    .minmaxprice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        button {
            font-family: "Akshar", sans-serif;
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            padding: 7px;
            background-color: #41913C;
            border-radius: 8px;
            border: 2px solid #41913C;
            cursor: pointer;
        }
    }

    .filter {
        display: flex;
        flex-direction: column;

        select,
        input {
            width: 150px;
            margin-top: 5px;
            padding: 7px;
            border-radius: 8px;
            border: 2px solid rgb(66, 9, 66);
        }
    }

    #findBtn {
        font-family: "Akshar", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 20px;
        padding: 7px;
        background-color: #41913C;
        border-radius: 8px;
        border: 2px solid #41913C;
        width: 100%;
    }

}

// selected payment method drop down (card details) - not gonna do that
#personal-details {
    display: flex;
    flex-direction: column;
}


.accommodation-overview {
    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 8px;
    color: #101110;
}

// REMINDER include colours and font sizes in here too using the "include" statement