// nav bar
#navbar {
    padding: 15px 25px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.029);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    z-index: 100;
    position: fixed;
    top: 0;

    .logo {
        background-image: url(/images/TNZ_logo.png);
        background-size: cover;
        width: 200px;
        height: 60px;
    }

    .nav-items {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.6em;
            font-family: "Akshar", sans-serif;
            font-weight: bold;
        }

        // hover will be in state.scss

        input {
            padding: 10px;
            border-radius: 8px; // this will have the variable + mixin/include  in it
            border: none;
        }

        #searchBtn {
            font-size: 1.3em;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        // hover in state.scss

    }
}


// card layouts

// payment stuff
// modals
// filtering container
form {
    font-family: "Akshar", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20%;
    height: 100vh;
    padding: 20px;
    border-radius: 8px;

    .filter {
        display: flex;
        flex-direction: column;

        .minmaxfilter > select {
            width: 50px;
        }
    
        select,
        input {
            width: 150px;
            margin-top: 10px;
            padding: 7px;
            border-radius: 8px;
            border: 2px solid rgb(66, 9, 66);
        }
    
        label {
           margin-top: 6px;
        }
    }

    button {
        font-family: "Akshar", sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 20px;
        padding: 7px;
        background-color: #41913C;
        border-radius: 8px;
        border: 2px solid #41913C;
        width: 100%;
        // hover in state.scss
    }
    
}

// selected payment method drop down (card details)

// include colours and font sizes in here too using the "include" statement