/** ------------- HOVER STATES OF ELEMENTS ------------**/

// "Read More" Button Hover
.accommodation-card > .accommodation-details > .other-details > #read-more:hover {
    background-color: white;
    border: 2px solid #41913C;
    color: #41913C;
    transition: all 0.3s ease;
}

// "Find Accommodation" Button Hover
form > #findBtn:hover {
    background-color: white;
    color: #41913C;
    transition: all 0.3s ease;
}

// MIN/MAX PRICE BUTTON HOVER
form > .minmaxprice > .filter > button:hover {
    background-color: white;
    color: #41913C;
    transition: all 0.3s ease;
}

// CLOSE MODAL BUTTON HOVER
.close:hover,
.close:focus {
    color: #41913C;
    text-decoration: none;
    cursor: pointer;
}

// "Book Now" Button Hover
#bookBtn:hover {
    background-color: white;
    border: 2px solid #41913C;
    color: #41913C;
    transition: all 0.3s ease;
}

// NAV ITEM HOVERS
#navbar > .nav-items > a:hover {
    color: #41913C;
    transition: all 0.3s ease;
}

// SEARCH BUTTON HOVER
#searchBtn:hover {
    color: #41913C;
    transition: all 0.3s ease;
}