// button hovers
form > button:hover {
    background-color: white;
    color: #41913C;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus {
    color: #41913C;
    text-decoration: none;
    cursor: pointer;
}




#bookBtn:hover {
    background-color: white;
    border: 2px solid #41913C;
    color: #41913C;
    transition: all 0.3s ease;
}

// nav item hovers
#navbar > .nav-items > a:hover {
    color: #41913C;
    transition: all 0.3s ease;
}

// search btn hover
// icon hovers
.fa-solid:hover {
    color: #41913C;
    transition: all 0.3s ease;
}